<h1>Cart Summary</h1>


{% extends "base.html" %}

{% load static %}




 {% block content %}


     <div class="container">
        <h1>Shopping Cart</h1>
     </div>
   

  <header class="bg-purple-600 py-16 sm:py-24 md:py-32 text-center">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class=" text-4xl sm:text-5xl lg:text-6xl font-bold leading-tight mb-4 text-gray-900">
                  View Your Shopping Cart
            </h1>
            
            
        </div>

   
   
    </header>

<br>
<br>


  
   




 

 {% endblock%}